*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetDropDown.xml
/.idea/androidTestResultsUserPreferences.xml
.DS_Store
/build
app/build/
/captures
.externalNativeBuild
.cxx
app/google-services.json
bfg.jar
.bfg-report/
*.jks
*.keystore
keystore.properties
*.env
*.env.local
*.class
*.log

